.body {
    background: white;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/background-desktop.svg");
    background-size: cover;
    min-height: 100vh;
    color: white;
}

img{
    width: 100px;
    background-color: black;
}
